In [1]:
pip install pyPDF2

Requirement already satisfied: pyPDF2 in c:\python39\lib\site-packages (3.0.1)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: typing_extensions>=3.10.0.0 in c:\python39\lib\site-packages (from pyPDF2) (4.7.1)

WARNING: Ignoring invalid distribution -ip (c:\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python39\lib\site-packages)

[notice] A new release of pip available: 22.2.2 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

#Loading pdf data

In [13]:
import PyPDF2
sci=open(r'C:\Users\Sherajus Salehin\Desktop\Project documentation\ID card generator\ID-card-generator\Type1_Pdf_data\data\testPDFfile.pdf','rb')
sciReader=PyPDF2.PdfReader(sci)
pageC=len(sciReader.pages)
print(pageC)

3

In [14]:
sBook=[]
for i in range (pageC):
  sBook.append(sciReader.pages[i].extract_text()) #pdf often fails to hold its table structures as people format it wrong. So, i'll
                                                  # use text patterns to detect proper feilds. algorithm varies from file to file.
  #print(sBook[22])

In [ ]:
#page1=sciReader.pages[22]
#pg1Txt=page1.extract_text()
#print(pg1Txt)
#sci.close()

In [15]:
word_list=[]
for i in range (pageC):
  word_list.append(sBook[i].splitlines())
#word_list=pg1Txt.splitlines()
print(word_list)

[['1 of 23Board of Intermediate & Secondary Education, Mymensingh', 'Nandina Shaikh Anwar Hossain College (109991),', 'Registration-2023', '(Final List)', 'No. of Science students : 154', 'Sl.', 'No.eSIF', 'Sl.Name', 'GenderSection', 'Class', 'RollSubject OpitonalGroupPhotoSignature', '11Test student1', 'FA', '1101,102,107,108,275,174,175,176,177,178,179,265,266 265Science', '22Test student2', 'FA', '2101,102,107,108,275,174,175,176,177,178,179,265,266 265Science', '33Test student3', 'FA', '3101,102,107,108,275,174,175,176,177,178,179,265,266 265Science', '44Test student4', 'FA', '4101,102,107,108,275,174,175,176,177,178,179,265,266 265Science', '55Test student5', 'FA', '5101,102,107,108,275,174,175,176,177,178,179,265,266 265ScienceTest student1', 's__qube'], ['2 of 23Sl.', 'No.eSIF', 'Sl.Name', 'GenderSection', 'Class', 'RollSubject OpitonalGroupPhotoSignature', '66Test student 6', 'FA', '6101,102,107,108,275,174,175,176,177,178,179,265,266 265Science', '77Test student 7', 'FA', '7101,102,107,108,275,174,175,176,177,178,179,265,266 265Science', '88Test student8', 'FA', '8101,102,107,108,275,174,175,176,177,178,179,265,266 265Science', '99Test student9', 'FA', '9101,102,107,108,275,174,175,176,177,178,179,265,266 265Science', '1010Test student10', 'FA', '10101,102,107,108,275,174,175,176,177,178,179,265,266 265Science', '1111Test student11', 'FA', '11101,102,107,108,275,174,175,176,177,178,179,265,266 265Science', '1212Test student12', 'FA', '12101,102,107,108,275,174,175,176,177,178,179,265,266 265Science', 's__qube'], ['3 of 23Sl.', 'No.eSIF', 'Sl.Name', 'Father Name', 'Mother NameGenderSection', 'Class', 'RollSubject OpitonalGroupPhotoSignature', '1313Test student13', 'FA', '13101,102,107,108,275,174,175,176,177,178,179,265,266 265Science', '1414Test student14', 'FA', '14101,102,107,108,275,174,175,176,177,178,179,265,266 265Science', '1515Test student15', 'FA', '15101,102,107,108,275,174,175,176,177,178,179,265,266 265Science', 's__qube']]

In [24]:
word_list[0]

['1 of 23Board of Intermediate & Secondary Education, Mymensingh',
 'Nandina Shaikh Anwar Hossain College (109991),',
 'Registration-2023',
 '(Final List)',
 'No. of Science students : 154',
 'Sl.',
 'No.eSIF',
 'Sl.Name',
 'GenderSection',
 'Class',
 'RollSubject OpitonalGroupPhotoSignature',
 '11Test student1',
 'FA',
 '1101,102,107,108,275,174,175,176,177,178,179,265,266 265Science',
 '22Test student2',
 'FA',
 '2101,102,107,108,275,174,175,176,177,178,179,265,266 265Science',
 '33Test student3',
 'FA',
 '3101,102,107,108,275,174,175,176,177,178,179,265,266 265Science',
 '44Test student4',
 'FA',
 '4101,102,107,108,275,174,175,176,177,178,179,265,266 265Science',
 '55Test student5',
 'FA',
 '5101,102,107,108,275,174,175,176,177,178,179,265,266 265ScienceTest student1',
 's__qube']

#Formatting data for easy list access

In [25]:
#Configure loop -done
for j in range(pageC):
  x=word_list[j].index('RollSubject OpitonalGroupPhotoSignature') #observe where the list actually starts and mark the previous pattern.
  for i in range (x+1):
    word_list[j].pop(0)
#print((x))
# all pages of word list now has pure student data for extraction ranging from page 0-22

In [27]:
print(word_list[2])

['1313Test student13', 'FA', '13101,102,107,108,275,174,175,176,177,178,179,265,266 265Science', '1414Test student14', 'FA', '14101,102,107,108,275,174,175,176,177,178,179,265,266 265Science', '1515Test student15', 'FA', '15101,102,107,108,275,174,175,176,177,178,179,265,266 265Science', 's__qube']

In [ ]:
word_list[20][3]# need to traverse 4 indexex(0-3) to accesss all info of  a student total traversal should be length of that page%4

'170101,102,107,108,275,174,175,176,177,178,179,265,266 265 Science'

In [28]:
round(len(word_list[20])/4)

IndexError: list index out of range

In [29]:
word_list[0][4:8]

['FA',
 '2101,102,107,108,275,174,175,176,177,178,179,265,266 265Science',
 '33Test student3',
 'FA']

In [ ]:
#optional testing
#data and code fixing block
#print(opt)
#cPage=word_list[2]
#cPage[4]=cPage[4]+' '+cPage[5]
#x=cPage[4:8]
#opt=x[3][-11:-7]
#print(x)
#word_list[2][4:8]
#word_list[2][4]=word_list[2][4]+' '+word_list[2][5]
#word_list[2].pop(5)
#word_list[13][8]=word_list[13][8]+' '+word_list[13][9]
#word_list[13][8:12]    big name
#word_list[18].pop(6)
#word_list[21][4]=word_list[21][4]+word_list[21][5]
#word_list[21].pop(5)
#word_list[21][4:8]
#word_list[21][4:8]
#testList=[]
#quad1=['name','roll','section','group']
#quad2=['name2','roll2','section2','group2']
#testList.append(quad1)
#testList.append([1,2,3,4])
#testList.append([5,6,'helo',8])
#print(testList)

['147 178MD. JONAYED MAHATAB RATUL',
 'MD. BELLAL HOSSEN',
 'NAZMUN NAHARMA',
 '178101,102,107,108,275,174,175,176,177,178,179,265,266 265 Science']

In [ ]:
#configure a loop for a whole page
sci=[]
for k in range(pageC):
  #traverse per page
  #current page
  cPage=word_list[k]
  o=round(len(cPage)/4)
  i=0
  for l in range(o):
    j=i+4
    x=cPage[i:j]#taking individual student
    y=x[3].split(',')#for roll
    n=len(y[0]) #here 4 means the roll is a number consisting only 1 digit, 5 means 2 digit roll and 6 means 3 digit roll
    student_name=x[0][((n-3)*2+1):]#name starts after the amount of digits in student roll determined by upper loop.
    roll=str(y[0][:(n-3)])#roll stops after its digit count.
    #group="science" #the whole book is about science group
    section= x[2][-1:]
    opt=x[3][-11:-7]
    if(int(opt)==265):
      optional="Higher Math"
    elif(int(opt)==178):
      optional="Biology"
    else:
      optional=str(opt)
    i=i+4
    #save student info in an array
    si=0
    sci.append([student_name,roll,section,optional])

    #print("\nstudent name: "+student_name+"\nroll        : "+roll+"\ngroup       : Science"+"\nSection     : "+section+"\noptional    : "+str(optional))

#To reuse the list in txt format

In [ ]:
newBook=open('/content/drive/MyDrive/projects2023/IDGen2024/sci/ScienceInputBook.txt','r')
bookString=newBook.read()
StringList=bookString.splitlines()
sList=[]
length=len(StringList)/4

for i in range (int(length)):
  obj1=StringList.pop()
  obj2=StringList.pop()
  obj3=StringList.pop()
  obj4=StringList.pop()
  sList.append([obj4,obj3,obj2,obj1])
sList.reverse()
print(sList)
newBook.close()

[['TANJILA KHATUN', '1', 'A', 'Higher Math'], ['ARIFA KHATUN', '2', 'A', 'Higher Math'], ['MST: AFRINA AKTER MIM', '3', 'A', 'Higher Math'], ['NUSRAT JAHAN INNA', '4', 'A', 'Higher Math'], ['JHINUK', '5', 'A', 'Higher Math'], ['BANNA KHATUN', '6', 'A', 'Higher Math'], ['MST. MEGLA AKTER', '7', 'A', 'Higher Math'], ['SHAMSUN NAHAR', '8', 'A', 'Higher Math'], ['RIPA KHATUN', '9', 'A', 'Higher Math'], ['SUMAYA KHATUN', '10', 'A', 'Higher Math'], ['JESMIN KHATUN', '11', 'A', 'Higher Math'], ['MST. DINA KHATUN', '12', 'A', 'Higher Math'], ['JUNIA AKTER', '13', 'A', 'Higher Math'], ['MST. MISHKATUL JANNAT MISHU', '14', 'A', 'Higher Math'], ['MST. SONEYA KHATUN', '15', 'A', 'Higher Math'], ['MST.TANVIN AKTER SHANTA', '16', 'A', 'Biology'], ['SANJIDA NAHAR PRITY', '17', 'A', 'Higher Math'], ['RITU', '18', 'A', 'Higher Math'], ['MST.MORIOM KHATUN', '19', 'A', 'Higher Math'], ['MST.JANNAT KHATUN', '20', 'A', 'Higher Math'], ['RINA KHATUN', '21', 'A', 'Higher Math'], ['MARIA MUSTARIN TONNI', '22', 'A', 'Higher Math'], ['ZUTHI AKTER', '23', 'A', 'Higher Math'], ['SAJDAT JANNAT TUNU', '24', 'A', 'Higher Math'], ['TASMIA JAHAN SADIKA', '25', 'A', 'Higher Math'], ['SUMAIYA', '26', 'A', 'Higher Math'], ['MST.AFSANA SHEKH', '27', 'A', 'Higher Math'], ['SOHELI AFRIN JEDNI', '28', 'A', 'Biology'], ['ONTORA AKTER NODI', '29', 'A', 'Biology'], ['MST.MAFIYA AKTER', '30', 'A', 'Higher Math'], ['SABIKUN NAHAR', '33', 'A', 'Higher Math'], ['MD. NEAMUL ISLAM ROBIN', '61', 'A', 'Higher Math'], ['SAJIB MIA', '62', 'A', 'Higher Math'], ['MD. SADIKUL ISLAM', '63', 'A', 'Higher Math'], ['MD. BELLAL HOSSAIN', '64', 'A', 'Higher Math'], ['MD. MIJANUR RAHMAN', '65', 'A', 'Higher Math'], ['NAYEM HOSEN', '66', 'A', 'Higher Math'], ['MD. EASIN ARAFAT TANVIR', '67', 'A', 'Higher Math'], ['MD. ASHIK RAHMAN', '68', 'A', 'Biology'], ['MD. SIAM', '69', 'A', 'Higher Math'], ['SYAM RANA', '70', 'A', 'Higher Math'], ['MD. SAYEM HASAN', '71', 'A', 'Biology'], ['MD. MAHIM HOSEN', '72', 'A', 'Higher Math'], ['MD.MAHID HASAN', '73', 'A', 'Higher Math'], ['MD. SOYAIB HASAN RIMON', '74', 'A', 'Higher Math'], ['MD. MEHEDI HASAN', '75', 'A', 'Biology'], ['MD. ABU SAIED', '76', 'A', 'Higher Math'], ['MD. BIPUL MIA', '77', 'A', 'Higher Math'], ['MD. SHRABON ISLAM', '78', 'A', 'Higher Math'], ['MD. TAWHID ISLAM', '79', 'A', 'Higher Math'], ['MD. AZIZUR RAHAMAN', '80', 'A', 'Biology'], ['MD. RASEL MIA', '81', 'A', 'Higher Math'], ['MD. ABIR HASAN', '82', 'A', 'Higher Math'], ['MD. SAKIB HOSSEN', '83', 'A', 'Higher Math'], ['MD. SOYON ISLAM', '84', 'A', 'Higher Math'], ['SAMIUL ALIM', '85', 'A', 'Higher Math'], ['BELAYET HOSSEN BAPPY', '86', 'A', 'Higher Math'], ['MD. ARIF HOSSEN', '87', 'A', 'Biology'], ['MD.ANONDO HASAN', '88', 'A', 'Higher Math'], ['MD.RIFAT MIA', '89', 'A', 'Higher Math'], ['MD.KABIR RAHMAN SUNY', '90', 'A', 'Higher Math'], ['NADIM MAHAMUD NISHAT', '91', 'A', 'Higher Math'], ['NUHANUR RAHMAN', '92', 'A', 'Biology'], ['MD: SHEMAL MIA', '93', 'A', 'Higher Math'], ['MD. SOMIK AHAMED', '94', 'A', 'Higher Math'], ['MD. BIPLOB MIA', '95', 'A', 'Higher Math'], ['MD. SAYEED MIA', '96', 'A', 'Higher Math'], ['MD. SHAHADAT HOSSEN', '97', 'A', 'Higher Math'], ['MD. ROBIN MIA', '98', 'A', 'Higher Math'], ['MD. SABBIR HOSEN', '99', 'A', 'Higher Math'], ['D. SHAKIB HOSSEN', '100', 'A', 'Higher Math'], ['D. JAHID HASAN PRANTO', '101', 'A', 'Higher Math'], ['D.SHAKIB HASAN NIROB', '102', 'A', 'Higher Math'], ['D. RUHUL AMIN', '103', 'A', 'Higher Math'], ['D. KAMRUL HASAN', '104', 'A', 'Biology'], ['D. SHAGAR MIA', '105', 'A', 'Biology'], ['D. MILON MIA', '106', 'A', 'Higher Math'], ['D. ARIFUL ISLAM RABBY', '107', 'A', 'Biology'], ['D. MAHIRUL ISLAM', '108', 'A', 'Biology'], ['UNAM SHAHARIAR', '109', 'A', 'Higher Math'], ['D. ARIYAN HUSEN', '110', 'A', 'Biology'], ['D. LIYMUL HASAN ANTU', '111', 'A', 'Biology'], ['BU SAYED SHIHAB', '112', 'A', 'Biology'], ['HOJIB ROBI DAS', '113', 'A', 'Biology'], ['D. MAHIN MUNNA', '114', 'A', 'Biology'], ['D. ARIF MULLA', '115', 'A', 'Biology'], ['SHIKUR RAHMAN', '116', 'A', 'Higher Math'], ['AWSAR AHMED', '117', 'A', 'Biology'], ['D. ABU SAYEED', '118', 'A', 'Higher Math'], ['D. ARIAN SABIT LIMU', '119', 'A', 'Biology'], ['D. JUBAEID HOSSEN', '120', 'A', 'Higher Math'], ['D. ARAFIN TAMJID NIBIR MOLLIK', '121', 'A', 'Higher Math'], ['D. NURUZZAMAN SHOBUJ', '122', 'A', 'Higher Math'], ['D. SUMON HOSEN', '123', 'A', 'Higher Math'], ['D. LIMON', '124', 'A', 'Biology'], ['D. KAUSAR HOSSEN', '125', 'A', 'Higher Math'], ['D. BAYAZID AKUNDA', '126', 'A', 'Higher Math'], ['D. MAHIM', '127', 'A', 'Biology'], ['AFIJUL', '128', 'A', 'Higher Math'], ['MD. BULBUL AHOMMED', '129', 'A', 'Higher Math'], ['MD. KAJOL MIA', '130', 'A', 'Higher Math'], ['JULFIKARUL ISLAM OPU', '131', 'A', 'Higher Math'], ['MD: LIKHON MIA', '134', 'A', 'Higher Math'], ['MD.MIJAN HOSSEN', '135', 'A', 'Higher Math'], ['MD.SHOHAG MIA', '136', 'A', 'Higher Math'], ['MD. SHAKIL HASAN', '137', 'A', 'Higher Math'], ['MD. NURAL MIA', '138', 'A', 'Higher Math'], ['MD. SABBIR HASAN', '139', 'A', 'Higher Math'], ['MD. TAYEM ISLAM', '140', 'A', 'Higher Math'], ['RIDOY HOSSEN', '141', 'A', 'Higher Math'], ['SHUHANUR RAHMAN SIAM', '142', 'A', 'Higher Math'], ['OMAR FOYSAL SHAOWN', '143', 'A', 'Higher Math'], ['MD. MARUF HOSEN', '144', 'A', 'Higher Math'], ['NAIMUR RAHMAN JIHAD', '145', 'A', 'Higher Math'], ['MD. ABDULLAH AL AHAD', '146', 'A', 'Higher Math'], ['MD. SHEKH FORID', '147', 'A', 'Higher Math'], ['MD. JUBAYER HOSSAIN', '148', 'A', 'Higher Math'], ['MD. ROKIBUL HASAN', '149', 'A', 'Biology'], ['ABDULLAH AKONDA', '150', 'A', 'Biology'], ['MD. FOISAL HOSSEN', '151', 'A', 'Higher Math'], ['MD. BIJOY MIA', '152', 'A', 'Biology'], ['MD: NAHID MIA', '153', 'A', 'Biology'], ['SHAKIB ISLAM JONY SHEKH', '154', 'A', 'Higher Math'], ['MD.SHANTO MIA', '155', 'A', 'Higher Math'], ['ZOYNUL ABADIN', '156', 'A', 'Biology'], ['MD. MAZHARUL ISLAM', '157', 'A', 'Biology'], ['MD. LIKHON AHAMED', '158', 'A', 'Higher Math'], ['MD. PRANTO AHMED', '159', 'A', 'Biology'], ['MD. MAMUN HOSSEN', '160', 'A', 'Biology'], ['ABU HORAYRA', '161', 'A', 'Biology'], ['SHIBLU MIA', '162', 'A', 'Higher Math'], ['MD: ROBIUL AWAL', '163', 'A', 'Biology'], ['PRODIP BABU', '164', 'A', 'Biology'], ['MD.ARIFUL ISLAM', '165', 'A', 'Higher Math'], ['MD.SHAKIL MIA', '166', 'A', 'Higher Math'], ['MD.TOIB ISLAM', '167', 'A', 'Higher Math'], ['RAIHAN RAHMAN', '168', 'A', 'Higher Math'], ['MD.MAHMUDUL HASAN', '169', 'A', 'Higher Math'], ['MD. ASRAFUL ISLAM TONOY', '170', 'A', 'Higher Math'], ['MD. SHAHADAT HOSEN', '171', 'A', 'Higher Math'], ['MD.SOHEL RANA', '172', 'A', 'Higher Math'], ['MD. ABU SAYED', '173', 'A', 'Higher Math'], ['MD.ARIFUL ISLAM ARIF', '174', 'R', 'Higher Math'], ['MD. ASIFUR RAHMAN', '175', 'A', 'Higher Math'], ['MD. ELMUL ABADIN', '176', 'A', 'Higher Math'], ['MD. EMRAN HOSSEN', '177', 'A', 'Higher Math'], ['MD. JONAYED MAHATAB RATUL', '178', 'A', 'Higher Math'], ['MD. RUBEL HOSSEN', '179', 'A', 'Higher Math'], ['MD. FAHIM ISLAM', '180', 'A', 'Higher Math'], ['MD. RAHAD ALI', '181', 'A', 'Higher Math'], ['MD.RONY MIA', '182', 'A', 'Higher Math'], ['MD. SOHANUR RAHMAN', '183', 'A', 'Higher Math'], ['MD. ARMAN MIA', '184', 'A', 'Higher Math'], ['SOYNUL ISLAM ULLAS', '185', 'A', 'Higher Math']]

In [ ]:
sList[153]

['SOYNUL ISLAM ULLAS', '185', 'A', 'Higher Math']

#Card generation

In [ ]:
#card generation
import pandas as pd
import cv2
from matplotlib import pyplot as plt #imported because cv2 imshow doesnt work in colab
import os
from PIL import Image, ImageDraw, ImageFont
parent='/content/drive/MyDrive/projects2023/IDGen2024'
images=parent+'/photos/picture'

In [ ]:
#look discarded code in parent

In [ ]:
#photo loading test
#photoPath=images'
#img1=cv2.imread(os.path.join(images,'01.JPG')) #joining path+filename
#img1RGB=cv2.cvtColor(img1,cv2.COLOR_BGR2RGB)
#plt.imshow(img1RGB)
#plt.axis('off')
#plt.show()

In [ ]:
sci[0][3]

'Higher Math'

In [ ]:
#test block
#sid=2
#try:
#  #sci[student number][info number 0:name 1:roll 2:section 3:optional]
#  x='0'+str(sList[sid][1])+".JPG"#load student image by roll
#  front_photo = Image.open(os.path.join(images,x))
#except:
#  x=parent+'/Templates/blank Template.jpg'
#  front_photo = Image.open(os.path.join(images,x))

In [ ]:
front_photo

In [ ]:
len(sList)

154

In [ ]:
width = 2026
height = 638
dpi = 300
font = ImageFont.truetype("/content/drive/MyDrive/projects2023/IDGEN/times-new-roman-grassetto.ttf", 38)  # Use any font of your choice
font1= ImageFont.truetype("/content/drive/MyDrive/projects2023/IDGEN/times-new-roman.ttf", 38)
main_photo = Image.open(parent+'/Templates/ComboV3.jpg')
sci=sList
files_made=[]
#sid=154
for sid in range(154):
  card = Image.new('RGB', (width, height), color='white')
  card.paste(main_photo, (0, 0))

  # student index

  try:
    #sci[student number][info number 0:name 1:roll 2:section 3:optional]
    sd=sci[sid][1]
    if(int(sd)<10):
      x='0'+str(sd)+".JPG"#load student image by roll
    else:
      x=str(sd)+".JPG"
    front_photo = Image.open(os.path.join(images,x))
  except:
    x=parent+'/Templates/blank Template.jpg'
    front_photo = Image.open(os.path.join(images,x))
  front_photo = front_photo.resize((225, 300))  # Resize to 0.5x
  card.paste(front_photo, (750, 225))

  # Draw text "Name field"
  draw = ImageDraw.Draw(card)
  draw.text((20, 225), sci[sid][0], font=font, fill="black")

  # Draw text "roll"
  draw.text((100, 375), str(sci[sid][1]), font=font1, fill="black")

  # Draw text "section"
  draw.text((150, 422), str(sci[sid][2]), font=font1, fill="black")
  # Draw text "optional"
  #draw.text((190, 478), str(sci[sid][3]), font=font1, fill="black")

  # Save the final card
  j=sd
  #output_dir=parent+'/test/out'
  output_dir=parent+'/Output cards/Science' #set back to H
  output_filename = os.path.join(output_dir, f"S_{j}.jpg")

  card.save(output_filename)
  files_made.append(output_filename)
#card.show(output_filename)
#performance record: no gpu 39s , T4 gpu: 56s, no gpu run2 1min32s

In [ ]:
output_filename

'/content/drive/MyDrive/projects2023/IDGen2024/test/out/i_3.jpg'

#Binding cards

In [ ]:
#test bind
idspath='/content/drive/MyDrive/projects2023/IDGEN/Output cards/S'
card = Image.new('RGB', (2480, 3508), color='white')
card1=Image.open('/content/drive/MyDrive/projects2023/IDGen2024/test/out/i_1.jpg')
card2=Image.open('/content/drive/MyDrive/projects2023/IDGen2024/test/out/i_185.jpg')
card3=Image.open('/content/drive/MyDrive/projects2023/IDGen2024/test/out/i_2.jpg')
card4=Image.open('/content/drive/MyDrive/projects2023/IDGen2024/test/out/i_99.jpg')
card5=Image.open('/content/drive/MyDrive/projects2023/IDGen2024/test/out/i_85.jpg')

card.paste(card1,(150,100))
card.paste(card2,(150,758))
card.paste(card3,(150,1416))
card.paste(card4,(150,2074))
card.paste(card5,(150,2732))
output_dir='/content/drive/MyDrive/projects2023/IDGen2024/test/out'
output_filename = os.path.join(output_dir, f"Bind_{i}.jpg")
card.save(output_filename)

In [ ]:
#enlist cards

In [ ]:
files_made[2]

'/content/drive/MyDrive/projects2023/IDGen2024/Output cards/Science/S_3.jpg'

In [ ]:
len(files_made)

154

In [ ]:
#making a page
#31 pages for Science

idspath=parent+'/Output cards/Science'
j=0 #total ids 154
i=0 #total pages
max=154
for i in range(31):
  card = Image.new('RGB', (2480, 3508), color='white')
  if(j<max):#
    #ids="S_"+str(j)+".jpg"
    card1=Image.open(files_made[j])
    card.paste(card1,(150,100))#
    j=j+1
    if(j<max):
      #ids="S_"+str(j)+".jpg"
      card1=Image.open(files_made[j])
      card.paste(card1,(150,758))#
      j=j+1
      if(j<max):
        #ids="S_"+str(j)+".jpg"
        card1=Image.open(files_made[j])
        card.paste(card1,(150,1416))#
        j=j+1
        if(j<max):
          #ids="S_"+str(j)+".jpg"
          card1=Image.open(files_made[j])
          card.paste(card1,(150,2074))#
          j=j+1
          if(j<max):
            #ids="S_"+str(j)+".jpg"
            card1=Image.open(files_made[j])
            card.paste(card1,(150,2732))#
            j=j+1
  # the loop looks inefficient but brain is not braining now
  output_dir=parent+'/Output books/Science'
  output_filename = os.path.join(output_dir, f"S_{i}.jpg")
  card.save(output_filename)
  #card.show("output_card.jpg")